<div class="row component-row">
  <div class="center_div">
    <div class="col-md-5 col-md-offset-1">
      <form #statsForm="ngForm" class="stats_form">
        <div class="row">
          <div class="col-md-7"><label class="stats field">Всего чеков пользователя: </label>
            {{stats.totalChecks}}
          </div>
          <div class="col-md-7"><label class="stats field">Минимальная сумма чека: </label>
            {{stats.minTotalSum}}
          </div>
          <div class="col-md-7"><label class="stats field">Максимальная сумма чека: </label>
            {{stats.maxTotalSum}}
          </div>
          <div class="col-md-7"><label class="stats field">Средняя сумма чека: </label>
            {{stats.medTotalSum}}
          </div>
          <div class="col-md-7"><label class="stats field">Всего чеков в системе: </label>
            {{stats.totalChecksAll}}
          </div>
          <div class="col-md-7 col-md-offset-1"><label class="stats field">На сумму: </label>
            {{stats.totalSumAll}}
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
